body{
    font-family:'Aladin', cursive; ;
    font-size: 120%;
    background-image: url(image/bc\ body.PNG);
    }    
    
.first-salam{
    color: rgb(74, 129, 131);
    font-size: 120%;
    
}
.Allah{
    color: darkorange;
    font-size: 115%;
}
.first-hadith{
    color: steelblue;
    font-size: 110%;
}